body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:738px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:734px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2087 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:65px;
  width:719px;
  height:734px;
}
#u2088 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:699px;
  word-wrap:break-word;
}
#u2089 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:134px;
  width:548px;
  height:75px;
}
#u2090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u2090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2091 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u2092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:0px;
  width:109px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u2094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:0px;
  width:109px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u2096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u2096 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:108px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2097 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u2098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:0px;
  width:108px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2099 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u2100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u2100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:109px;
  height:20px;
}
#u2101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u2102 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:30px;
  width:109px;
  height:20px;
}
#u2103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u2104 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:30px;
  width:109px;
  height:20px;
}
#u2105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
}
#u2106 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:30px;
  width:108px;
  height:20px;
}
#u2107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
}
#u2108 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:30px;
  width:108px;
  height:20px;
}
#u2109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u2110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:109px;
  height:20px;
}
#u2111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u2112 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:50px;
  width:109px;
  height:20px;
}
#u2113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u2114 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:50px;
  width:109px;
  height:20px;
}
#u2115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
}
#u2116 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:50px;
  width:108px;
  height:20px;
}
#u2117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
}
#u2118 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:50px;
  width:108px;
  height:20px;
}
#u2119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
