body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:738px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:734px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2113 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:65px;
  width:719px;
  height:734px;
}
#u2114 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:699px;
  word-wrap:break-word;
}
#u2115 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:134px;
  width:548px;
  height:75px;
}
#u2116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u2116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u2118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u2118 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:0px;
  width:109px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u2120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u2120 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:0px;
  width:109px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u2122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u2122 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:108px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u2124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u2124 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:0px;
  width:108px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u2126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u2126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:109px;
  height:20px;
}
#u2127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u2128 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:30px;
  width:109px;
  height:20px;
}
#u2129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u2130 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:30px;
  width:109px;
  height:20px;
}
#u2131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
}
#u2132 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:30px;
  width:108px;
  height:20px;
}
#u2133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
}
#u2134 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:30px;
  width:108px;
  height:20px;
}
#u2135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u2136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:109px;
  height:20px;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:50px;
  width:109px;
  height:20px;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:50px;
  width:109px;
  height:20px;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:50px;
  width:108px;
  height:20px;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:50px;
  width:108px;
  height:20px;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
