body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:481px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:142px;
  width:424px;
  height:848px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:231px;
  width:375px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:231px;
  width:22px;
  height:20px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:239px;
  width:33px;
  height:5px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:236px;
  width:25px;
  height:10px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:235px;
  width:31px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:306px;
  width:375px;
  height:592px;
}
#u988_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:592px;
  overflow:auto;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:251px;
  width:375px;
  height:55px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:269px;
  width:126px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:269px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:48px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:850px;
  width:376px;
  height:48px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:850px;
  width:75px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:850px;
  width:75px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:850px;
  width:75px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:850px;
  width:75px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
